[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pycodestyle = "*"
black = "*"
yapf = "*"

[packages]
pypdf2 = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"

[requires]
python_version = "3.8"
